header {
    height: 5em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    position: relative;
    
    h1 {
        margin: 0.25em;
        color: white;
        font-family: "Garamond", serif;
    }

    .button {
        position: absolute;
        top: 1em;
        right: 1em;
        color: white;
    
        svg {
            width: 3.5em !important;
            height: 3.5em;
            border: 1px solid white;
            padding: 1em;
            border-radius: 3em;
            cursor: pointer;
        }
    }
}