footer {
    height: 3em;
    background-color: #151515;
    text-align: center;

    a {
        color: white;
        padding-top: 0.75em;
        display: block;

        &:hover {
            color: white;
        }
    }
}